/*
############################################################################################
####  Name:             gadi_content.css                                                ####
####  Version:          2.0                                                             ####
####  Copyright:        GOAutoDial Inc. - Januarius Manipol <januarius@goautodial.com>  ####
####  License:          AGPLv2                                                          ####
############################################################################################
*/

@charset "UTF-8";

.bbg {
    width:99%;     
 	border: 0px;
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;	
}

#bbg {
     font-family: Verdana,Helvetica,sans-serif;
	 color: #000000;
	 font-size: 12px; 
     width:99%;     
 	 border: 0px;
     margin-left: -1px;
	 margin-top:  10px;
}

.aleft {
	margin-left: 20px;		                              
}
  
.myfontb {
	font-weight: bold;
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
	font-size: 12px; 
	margin-left: 20px;
	margin-top: -25px;
}

.myfontb2 {
	margin-left: 240px;
	margin-top: -25px;
}

.myfontbsys {
	font-weight: bold;
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
	font-size: 12px;
	margin-top: -220px;
	align: left;
}

.pfontt{
	font-weight: bold;
	margin-left: 20px;	
	
}

#pfont{
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
	font-size: 12px; 
	margin-left: 25px;
	margin-bottom:-5px;
	margin-top:-5px;
}

#pfont2{
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
	font-size: 11px; 
	margin: 0px 20px 0px 20px;
    position: relative;
}

.sicon {	                              
font-family: Verdana, Helvetica, sans-serif;
width: 30px; 	                          
height: 22px; 	                          
font-size: 12px;                          
font-weight: normal;   
padding: 0px 0px 0px 0px;
} 

.sicons {	                              
font-family: Verdana, Helvetica, sans-serif;
width: 50px; 	                          
height: 22px; 	                          
font-size: 12px;                          
font-weight: normal;                      
}

#webtemp18  {
   margin: 0px 0px 0px auto;
   width: 100%;
   position: relative;
}

#webtemp19  {
   margin: 0px 0px 0px 0px;
   width: 99%;
   position: relative;
}

#webtemp20  {
   border-bottom:2px 
   solid #7ca702; 
   display:block;
   margin-top: 25px;
   width: 99%;
}

#webtemp21 {
   margin: 0px auto 0px auto;
   width: 945px;
   position: relative;
}