

/*
 * MODIFY user display basic and advance mode
 */

#modifyuser-container .modifyuser-panel{border-bottom:1px solid #DFDFDF;background:none repeat scroll 0 0 #F4F4F4;height:25px;padding:1px;text-align:right;}
#modifyuser-container .modifyuser-panel label.advancetext{margin:6px 2px;float:right;text-align:right;right:2px;}
#modifyuser-container  p{float:right;padding:2px;right:2px;position:relative;}
#modifyuser-container .field{float: right;margin:0 0 0 3px;}
#modifyuser-container .field input { margin: 0 0 0 20px; }
#modifyuser-container  h3 span { background: #444; color: #fff; padding: 3px; }
#modifyuser-container  pre { background: #f4f4f4; }
#modifyuser-container .adv-enable, .bsc-enable, .adv-enable span, .bsc-enable span { background: url(../../js/jquery-switch/switch.gif) repeat-x; display: block; float: left; }
#modifyuser-container .adv-enable span, .bsc-enable span { line-height: 22px; display: block; background-repeat: no-repeat; font-weight: bold; }
#modifyuser-container .adv-enable span { background-position: left -67px; padding: 0 10px; }
#modifyuser-container .bsc-enable span { background-position: right -133px;padding: 0 10px; }
#modifyuser-container .bsc-enable.selected { background-position: 0 -22.2px; }
#modifyuser-container .bsc-enable.selected span { background-position: right -156px; color: #fff; }
#modifyuser-container .adv-enable.selected { background-position: 0 -44.3px; }
#modifyuser-container .adv-enable.selected span { background-position: left -111px; color: #fff; }
#modifyuser-container .switch label { cursor: pointer; }
#modifyuser-container .leftside{width:60%;float:left;}
#modifyuser-container .rightside{width:40%;float:left;}
/*
 * User Information set
 */
#modifyuser-container .adv-user-info{width:40%;margin:10px;float:left;}
#modifyuser-container .adv-user-detail{border:1px solid #DFDFDF;}
#modifyuser-container .adv-userinfo-action{text-align:right;padding:7px;}  
#modifyuser-container .adv-userinfo-action a{margin-top:3px;}  
/*
 * User Status info
 */
#modifyuser-container .adv-user-status{float:left;margin:10px;width:50%;}

/*
 * User Stats
 */
#modifyuser-container .adv-user-stats{float:left;margin:10px;width:97%;}

/*
 * User Settings
 */
#modifyuser-container .adv-user-settings{float:left;margin:10px;width:95%;}
#modifyuser-container .adv-user-permissions, .adv-user-groups{width:39%;float:left;height:500px;padding:0;}
#modifyuser-container .adv-user-groups{width:60%;}
#modifyuser-container .adv-settings-container{height: 500px; overflow: hidden; position: relative;margin:0;}
#modifyuser-container .user-permissions{margin:3px;cursor:pointer;}
#modifyuser-container .user-permissions p{display:none;}
#modifyuser-container .user-groups{margin:10px;width:230px;cursor:pointer;padding:3px;}
#modifyuser-container .new-user-groups{margin:10px;width:230px;cursor:pointer;padding:3px;}
#modifyuser-container .adv-settings-actions{margin:20px 0 5px;text-align:right;}
#modifyuser-container .adv-allowed-access{padding:5px;float:left;display:none;}
#modifyuser-container .adv-allowed-access p{display:none;}
#modifyuser-container .allowed-access{margin:3px;}

/*
 * scroll css under User Settings
 */
#modifyuser-container .overview { list-style: none; position: absolute;top: 0; margin:0;padding:0;}
#modifyuser-container .thumb .end,
#modifyuser-container .thumb { background-color: black; }
#modifyuser-container .scrollbar { position: relative; float: right; width: 15px; left:0; }
#modifyuser-container .track { background-color: #F4F4F4; height: 100%; width:13px; position: relative; padding: 0 1px; }
#modifyuser-container .thumb { height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; border:1px solid black; }
#modifyuser-container .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#modifyuser-container .disable{ display: none; }

#modifyuser-container .adv-user-info:hover .adv-toggle{background:transparent url(../../img/menu-bits.gif?ver=20100610) no-repeat scroll left -111px;}
#modifyuser-container .adv-user-status:hover .adv-toggle{background:transparent url(../../img/menu-bits.gif?ver=20100610) no-repeat scroll left -111px;}
#modifyuser-container .adv-user-stats:hover .adv-toggle{background:transparent url(../../img/menu-bits.gif?ver=20100610) no-repeat scroll left -111px;}
#modifyuser-container .adv-user-settings:hover .adv-toggle{background:transparent url(../../img/menu-bits.gif?ver=20100610) no-repeat scroll left -111px;}
#modifyuser-container .group-action{display:block;text-align:right;margin:3px;width:100%;}
#modifyuser-container .inactive, .active{width:230px;}
#modifyuser-container .inactive h3{border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;cursor: pointer;}
#modifyuser-container .active h3{cursor: pointer;}
#modifyuser-container .empty{margin:3px;padding3px;width:212.5px;}
#modifyuser-container .groupaccess_name{border:0;background-color:transparent;display:none;}
#modifyuser-container .new-allowed-access{display:block;}
#modifyuser-container .highlight{border:dashed red 1px;}
#modifyuser-container .new-allowed-access{padding:3px;}
#modifyuser-container .new-access{padding:3px;}
